.ui_input_container{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin: 5px 0 ;
}

.ui_label{
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;  
  color: #1111117A;
  position: absolute;
  left: 16px;
  top: 8px;
}

.ui_input {
background: #FFFFFF;
border: 1px solid #F1F1F1;
border-radius: 4px;
height: 56px;
max-width: 616px;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
padding-left: 16px;
padding-top: 20px;
transition: 0.3s;
}

.ui_input:hover, .ui_input:focus {
  border: 1px solid #6e6e6e !important;
}

.ui_input::-webkit-outer-spin-button,
.ui_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ui_input[type=number] {
  -moz-appearance: textfield;
}
