@import "./reset.css";

.container {
  height: calc(100vh - 76px - 76px);
  width: 616px;
  margin: 0 auto;
}

h2{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  padding: 30px 0 10px;
}
