footer{
height: 76px;
background: #FAFAFA;
box-shadow: 0px 1px 0px rgba(17, 17, 17, 0.1);
display: flex;
justify-content: center;
align-items: center;
}

.footer_text{
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 0px;
}
